In [1]:
import pandas as pd

df = pd.DataFrame({
    'Team': ['UConn', 'Iowa', 'South Carolina'],
    'WinProb': [0.85, 0.67, 0.92]
})
df.to_json('data.json', orient='records')

In [45]:
m_predictions = pd.read_csv('../stored_csvs/m_lr_model_predictions.csv')
m_year_predictions = m_predictions[m_predictions['Season'] == 2025]
m_teams = pd.read_csv('../kaggle_data/men/MTeams.csv')
m_opp_teams = m_teams.copy().rename(columns = {'TeamID': 'OppTeamID', 'TeamName': 'OppTeamName'})
m_year_predictions = m_year_predictions.merge(m_teams[['TeamID', 'TeamName']], how = 'left', on = 'TeamID')
m_year_predictions = m_year_predictions.merge(m_opp_teams[['OppTeamID', 'OppTeamName']], how = 'left', on = 'OppTeamID')
m_year_predictions['Pred'] = m_year_predictions['Pred'].round(2)
m_final = m_year_predictions[['TeamName', 'OppTeamName', 'Loc', 'Pred']]
m_final.to_json('m_predictions.json', orient='records')
m_neutral = m_final[m_final['Loc'] == 0]
m_home = m_final[m_final['Loc'] == 1]
m_away = m_final[m_final['Loc'] == -1]
m_neutral.to_json('m_neutral.json', orient='records')
m_home.to_json('m_home.json', orient='records')
m_away.to_json('m_away.json', orient='records')


w_predictions = pd.read_csv('../stored_csvs/w_lr_model_predictions.csv')
w_year_predictions = w_predictions[w_predictions['Season'] == 2025]
w_teams = pd.read_csv('../kaggle_data/women/WTeams.csv')
w_opp_teams = w_teams.copy().rename(columns = {'TeamID': 'OppTeamID', 'TeamName': 'OppTeamName'})
w_year_predictions = w_year_predictions.merge(w_teams[['TeamID', 'TeamName']], how = 'left', on = 'TeamID')
w_year_predictions = w_year_predictions.merge(w_opp_teams[['OppTeamID', 'OppTeamName']], how = 'left', on = 'OppTeamID')
w_year_predictions['Pred'] = w_year_predictions['Pred'].round(2)
w_final = w_year_predictions[['TeamName', 'OppTeamName', 'Loc', 'Pred']]
w_neutral = w_final[w_final['Loc'] == 0]
w_home = w_final[w_final['Loc'] == 1]
w_away = w_final[w_final['Loc'] == -1]
w_neutral.to_json('w_neutral.json', orient='records')
w_home.to_json('w_home.json', orient='records')
w_away.to_json('w_away.json', orient='records')

            TeamName       OppTeamName  Loc  Pred
0        Abilene Chr         Air Force   -1  0.53
1        Abilene Chr             Akron   -1  0.10
2        Abilene Chr           Alabama   -1  0.00
3        Abilene Chr       Alabama A&M   -1  0.90
4        Abilene Chr        Alabama St   -1  0.55
...              ...               ...  ...   ...
396391  West Georgia  Southern Indiana    1  0.57
396392  West Georgia         Stonehill    1  0.55
396393  West Georgia    East Texas A&M    1  0.59
396394  West Georgia          Le Moyne    1  0.70
396395  West Georgia        Mercyhurst    1  0.58

[396396 rows x 4 columns]

In [47]:
def process_predictions(pred_path, teams_path, year, prefix):
    # Load predictions and filter by year
    predictions = pd.read_csv(pred_path)
    predictions = predictions[predictions['Season'] == year]

    # Load team names and create opponent mapping
    teams = pd.read_csv(teams_path)
    opp_teams = teams.rename(columns={'TeamID': 'OppTeamID', 'TeamName': 'OppTeamName'})

    # Merge team and opponent names
    predictions = predictions.merge(teams[['TeamID', 'TeamName']], on='TeamID', how='left')
    predictions = predictions.merge(opp_teams[['OppTeamID', 'OppTeamName']], on='OppTeamID', how='left')

    # Round prediction values and filter relevant columns
    predictions['Pred'] = predictions['Pred'].round(2)
    final_df = predictions[['TeamName', 'OppTeamName', 'Loc', 'Pred']]

    # Save all and by location
    final_df.to_json(f'{prefix}_predictions.json', orient='records')
    final_df[final_df['Loc'] == 0].to_json(f'{prefix}_neutral.json', orient='records')
    final_df[final_df['Loc'] == 1].to_json(f'{prefix}_home.json', orient='records')
    final_df[final_df['Loc'] == -1].to_json(f'{prefix}_away.json', orient='records')

# Run for men's and women's datasets
process_predictions(
    pred_path='../stored_csvs/m_lr_model_predictions.csv',
    teams_path='../kaggle_data/men/MTeams.csv',
    year=2025,
    prefix='m'
)

process_predictions(
    pred_path='../stored_csvs/w_lr_model_predictions.csv',
    teams_path='../kaggle_data/women/WTeams.csv',
    year=2025,
    prefix='w'
)

In [33]:
m_year_predictions = year_predictions[year_predictions['Side'] == 'Men']
w_year_predictions = year_predictions[year_predictions['Side'] == 'Women']

In [34]:
m_year_predictions.to_json('m_predictions.json', orient='records')
w_year_predictions.to_json('w_predictions.json', orient='records')

In [49]:
w_final.columns

Index(['TeamName', 'OppTeamName', 'Loc', 'Pred'], dtype='object')