In [7]:
#The premise here is that we want to predict the stats that a team will put up in a particular game

#Predict based on the last game -- too simple
#Predict based on all games to date -- early season will have few predictors
#Predict based on all other games -- predicting based on later performances seems fine, we just need to assume games order independent
#But that still leaves us with strength of schedule concerns
#We could just include strength of schedule/conference at the end
#Or we could try to select only similar teams when we predict how many rebounds etc a team will get in a game
#See how many rebounds an opponent has given up per game
#Linear regression based on what other teams our main team has played or some knn grouping or something
import pandas as pd
import numpy as np

In [3]:
compact_results = pd.read_csv('data/men/MRegularSeasonCompactResults.csv')
compact_results.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [ ]:
compact_results['Team1ID'] = np.minimum(compact_results['WTeamID'].astype(int), compact_results['LTeamID'].astype(int))
compact_results['Team2ID'] = np.maximum(compact_results['WTeamID'].astype(int), compact_results['LTeamID'].astype(int))
compact_results['Team1Score'] = np.where(compact_results['Team1ID'] == compact_results['WTeamID'], compact_results['WScore'], compact_results['LScore'])
compact_results['Team2Score'] = np.where(compact_results['Team2ID'] == compact_results['WTeamID'], compact_results['WScore'], compact_results['LScore'])
compact_results['Team1Loc'] = np.where(compact_results['Team1ID'] == compact_results['WTeamID'], compact_results['WLoc'], np.where(compact_results['WLoc'] == 'H', 'A', np.where(compact_results['WLoc'] == 'A', 'H', 'N')))
compact_results
compact_results['Team2Loc'] = np.where(compact_results['Team1Loc'] == 'H', 'A', np.where(compact_results['Team1Loc'] == 'A', 'H', 'N'))
compact_results['Team1Margin'] = compact_results['Team1Score'] - compact_results['Team2Score']
compact_results['Team2Margin'] = compact_results['Team2Score'] - compact_results['Team1Score']
compact_results.drop(['WTeamID', 'LTeamID', 'WScore', 'LScore', 'WLoc'], axis=1, inplace=True)
compact_results